<div class="right"><span class="data-icon_list"><img src="{{ image_src }}add.png" align="absmiddle" border="0" alt="Add {{model.label}}" title="Add {{model.label}}"></span><a href="index.php?action=add&dbTable={{model.tableName}}">Add {{ model.label }}</a></div>
